*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(57, 229, 128);
    height: 100vh;
    width: 100vw;
}

#caja{
    height: 100vh;
    display: flex;
    
}

#centrado{
    background-color: rgb(251, 245, 245);

    width: max-content;
    padding: 30px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    margin: auto;
    
    border: 5px solid black;
    border-radius: 50px;
}

#textoYEnviar{
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#nota{
    border-radius: 10px;
    padding-left: 5px;
    
    width: 200px;

    resize: none;
    overflow: overlay;
    scrollbar-width: thin;
}


textarea::-webkit-scrollbar-thumb {
    background-color: white;
}

textarea::-webkit-scrollbar-track {
    background-color: lightgray;
}

textarea::-webkit-button{
    display: none;
}

#enviar{
    height: 30px;
    width: 30px;

    border-radius: 50%;
}


.cuboDeNota{
    width: 200px;
    height: 200px;
    padding: 3px 10px;

    border: PowderBlue 5px double;
    background-color: aliceblue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

 /*  position: absolute;
    top: 50%;
    left: 50%;*/

}
  
#sectorDeNotas{
    border: 5px solid #000000;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.punto{
    height: 50px;
    width: 50px;
    border: 5px solid #000000;
    border-radius: 50%;
    background-color: #000000;
    position: fixed;
    cursor: grab;
}